{% extends 'budget/base.html' %}
{% block content %}
<h3>Budget: <a href="/budget/{{budget.id}}/">{{ budget.name }}</a></h3>
<table class="datatable">
	<thead>
		<th style="width: 200px;">Account FROM</th>
		<th style="width: 200px;">Account TO</th>
		<th style="width: 120px; text-align: right;">Amount</th>
		<th style="width: 130px;">Payment Date</th>
		<th style="width: 100px;"></th>
	</thead>
	<tbody>
		{% for i in items %}
		<tr>
			<td><a href="/budget/{{budget.id}}/accounts/money/{{i.acc_from.id}}/">{{ i.acc_from.name }}</a></td>
			<td><a href="/budget/{{budget.id}}/accounts/money/{{i.acc_to.id}}/">{{i.acc_to.name}}</a></td>
			<td style="text-align: right;">{{i.amount}}</td>
			<td>{{i.payment_date}}</td>
			<td><a href="{{i.id}}/">edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}